{% extends 'base.html.twig' %}

{% block title %}Kubectl4Everyone{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

	/* CSS */
	.button-1 {
	background-color: #EA4C89;
	border-radius: 8px;
	border-style: none;
	box-sizing: border-box;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	height: 40px;
	line-height: 20px;
	list-style: none;
	margin: 0;
	outline: none;
	padding: 10px 16px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: color 100ms;
	vertical-align: baseline;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	}

	.button-1:hover,
	.button-1:focus {
	background-color: #F082AC;
	}
	@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
	* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	}

	body {
	background: #272727;
	font-family: "Montserrat", sans-serif;
	}

	.navMenu {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	}

	.navMenu a {
	color: #f6f4e6;
	text-decoration: none;
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: 500;
	display: inline-block;
	width: 200px;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	}

	.navMenu a:hover {
	color: #fddb3a;
	}

	.navMenu .dot {
	width: 6px;
	height: 6px;
	background: #fddb3a;
	border-radius: 50%;
	opacity: 0;
	-webkit-transform: translateX(30px);
	transform: translateX(30px);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	}

	.navMenu a:nth-child(1):hover ~ .dot {
	-webkit-transform: translateX(230px);
	transform: translateX(30px);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	opacity: 1;
	}

	.navMenu a:nth-child(2):hover ~ .dot {
	-webkit-transform: translateX(430px);
	transform: translateX(230px);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	opacity: 1;
	}

	.navMenu a:nth-child(3):hover ~ .dot {
	-webkit-transform: translateX(630px);
	transform: translateX(430px);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	opacity: 1;
	}

	.navMenu a:nth-child(4):hover ~ .dot {
	-webkit-transform: translateX(830px);
	transform: translateX(630px);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	opacity: 1;
	}
	.navMenu a:nth-child(5):hover ~ .dot {
	-webkit-transform: translateX(1030px);
	transform: translateX(830px);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	opacity: 1;
	}
	.flex{
		display: flex;
	}
</style>

<div class="example-wrapper">
	<div class="flex">
		<h1>Kubectl4Everyone</h1>
		<button class="button-1" role="button">Cerrar session</button>
	</div>
</div>

<div >
    <nav class="navMenu">
      	<a href="/controlador1">pod</a>
		<a href="/controlador2">service</a>
		<a href="/controlador3">deployment</a>
		<a href="/controlador4">replicaset</a>
		<a href="/controlador5">Nginx</a>
      	<div class="dot"></div>
    </nav>
</div>

	
{% endblock %}
