{% extends 'base.html.twig' %}

{% block title %}Kubectl4Everyone{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
	/* CSS */
	#boton{
	background-color: #EA4C89;
	}
	@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

	body {
	background: #272727;
	font-family: "Montserrat", sans-serif;
	}
</style>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      	<h1 class="text-light">Kubectl4Everyone</h1>
		<div class="col-md-3 text-end">
			<a href="/cerrar" ><button id="boton" class="btn" role="button">Cerrar session</button></a>
		</div>
    </header>
</div>
<div class="example-wrapper">
	<h1 class="text-light text-center">Nginx</h1>
	<!--pasa la info del backend y la muestra-->
	<div>
		<p class="text-light"> {{ info_app | raw }}</p>
		
	</div>
	<div class="d-flex justify-content-center">
		<div class="p-2">
			<!--boton que envia a la ruta de reinicio-->
			<a href="/reiniciar" ><button id="boton" class="btn" role="button">Reiniciar servicio</button></a>
		</div>	

		<div class="p-2">
			<!--boton que envia a la ruta de parar-->
			<a href="/parar" ><button id="boton" class="btn" role="button">Parar servicio</button></a>
		</div>	

	</div>	
</div>
<footer class="py-3 my-4">
  	<a href="/" ><p class="text-center text-muted">Volver a inicio</p></a>
</footer>

{% endblock %}
